################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bloom/FileContentIndex
/.vs/bloom/v17
/.vs/bloom/config
/.vs
